.cont{
    width: 100vw;
    height: 100vh;
}
.logincont{
    width: 400px;
    height: 100%;
    background: var(--brand-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.title{
    font-size: 30px;
    font-weight: bold;
    color: white;
    width:80%;
    margin-top: 40px;
}
.subtitle{
    color: white;
    width:80%;
    margin-bottom: 20px;
}
.subtitle a{
    margin-left: 10px;
    color: rgb(37, 12, 255);
}
.inputbox{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 80%;
    gap: 5px;
}
.field{
    color: white;
}
.input{
    width: calc(100% - 10px);
    height: 35px;
    padding: 0 5px;
    outline: none;
    border: none;
    box-shadow: 0 0 1px white;
    background: transparent;
    color: white;
    border-radius: 3px;
}
.input:focus{
    box-shadow: 0 0 2px white;
}
.showpass{
    width: 30px;
    height: 38px;
    position: absolute;
    color: white;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.forget{
    width: 80%;
    color: white;
}
.logincont button{
    width:calc(80% + 2px);
    background: var(--brand-color3);
    color: white;
    height: 35px;
    border: 1px solid var(--brand-color3);
    cursor: pointer;
}
.logincont button:hover{
    color: var(--brand-color3);
    background: white;
}