.cont{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: var(--brand-color3);
}
.leftbox{
    width: calc(100% - 400px);
    background:var(--brand-color);
    height: 100vh;
}
.formbox{
    width: 400px;
    height: 100vh;
    background:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.formbox input{
    width: 90%;
    height: 35px;
    outline: none;
    padding: 0;
    border: 1px solid gray;
}
.formbox input:hover{
    border: 1px solid rgba(0, 140, 255,.4);
}
.formbox input:focus {
    border: 1px solid var(--brand-color);
}
.formbox select{
    width: 90%;
    height: 35px;
    outline: none;
    border: 1px solid gray;
}
.formbox select:hover{
    border: 1px solid rgba(0, 140, 255,.4);
}
.formbox select:focus{
    border: 1px solid var(--brand-color);
}
.location{
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.location select{
    width: 55%;
}
.location select:last-child{
    width: 40%;
}
.passbbox{
    width: 90%;
    position: relative;
    display: flex;
    align-items: center;
}
.passbbox input{
    width: calc(100% - 20px);
    padding: 0 20px 0 0 ;
    height: 35px;
}
.showpassbox{
    position: absolute;
    right: 5px;

}
.formbox button{
    width: 90%;
    height: 38px;
    background: var(--brand-color);
    border: 1px solid var(--brand-color);
    color: white;
    cursor: pointer;
}
.formbox button:hover{
    background: white;
    color: var(--brand-color);
}