.cont{
    width: 100vw;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    box-shadow: 0 0 1px gray;
}
.leftbox{
    width: 250px;
    background: var(--brand-color);
    height: 100%;
}
.rightbox{
    width: calc(100% - 250px);
}